<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IZadanie2" />
                <binding name="NetNamedPipeBinding_IZadanie7" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/ksr-wcf1-zad2" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IZadanie2" contract="ServiceReference1.IZadanie2"
                name="NetNamedPipeBinding_IZadanie2">
                <identity>
                    <userPrincipalName value="DESKTOP-SMEMUEI\mipig" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/ksr-wcf1-zad7" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IZadanie7" contract="ServiceReference.IZadanie7"
                name="NetNamedPipeBinding_IZadanie7">
                <identity>
                    <userPrincipalName value="DESKTOP-SMEMUEI\mipig" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>