<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Lab5_5.Service1">
        <endpoint address="Lab5_5" binding="basicHttpBinding" bindingConfiguration=""
          contract="KSR_WCF2.IZadanie5" />
        <endpoint address="Lab5_6" binding="wsDualHttpBinding" bindingConfiguration=""
          contract="KSR_WCF2.IZadanie6" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:15164/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Aby zapobiec ujawnieniu informacji o metadanych, ustaw dla poniższych elementów wartość false przed wdrożeniem -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Aby uzyskać szczegółowe informacje o wyjątku dotyczące błędów na potrzeby debugowania, ustaw dla poniższego elementu wartość true. Ustaw wartość false przed wdrożeniem, aby zapobiec ujawnieniu informacji o wyjątku -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Aby przeglądać katalog główny aplikacji internetowej w trakcie debugowania, ustaw dla poniższego elementu wartość true.
        Ustaw wartość false przed wdrożeniem, aby zapobiec ujawnieniu informacji o folderze aplikacji internetowej.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
