<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IZadanie5" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IZadanie6" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:15164/Service1.svc/Lab5_5"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZadanie5"
                contract="ServiceReference1.IZadanie5" name="BasicHttpBinding_IZadanie5" />
            <endpoint address="http://localhost:15164/Service1.svc/Lab5_6"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IZadanie6"
                contract="ServiceReference1.IZadanie6" name="WSDualHttpBinding_IZadanie6">
                <identity>
                    <userPrincipalName value="DESKTOP-SMEMUEI\mipig" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>